In [28]:
import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
#from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

import pandas as pd
#Importing the popualtion data
population_file = "C:\ML Hackathon\population data.xlsx"
population = pd.read_excel(population_file)
population.head()

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001,Alabama,Autauga,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003,Alabama,Baldwin,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005,Alabama,Barbour,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007,Alabama,Bibb,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009,Alabama,Blount,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"

In [ ]:
#code snippet to find the current ipynb directory to upload to github.
!echo %cd% # under windows

In [29]:
population = population.reindex(np.random.permutation(population.index))
population

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
2629,48215,Texas,Hidalgo,"774,769","794,682","806,388","817,039","829,088","839,314","849,843"
2113,39141,Ohio,Ross,"78,064","77,576","77,418","77,274","77,111","77,162","77,000"
2421,46123,South Dakota,Tripp,"5,644","5,606","5,485","5,498","5,485","5,413","5,492"
2337,45043,South Carolina,Georgetown,"60,158","60,144","60,232","60,417","60,729","61,243","61,399"
1746,31185,Nebraska,York,"13,665","13,760","13,828","13,853","13,915","13,822","13,794"
...,...,...,...,...,...,...,...,...,...,...
2539,48035,Texas,Bosque,"18,212","18,253","18,118","17,880","17,761","17,910","18,097"
2332,45033,South Carolina,Dillon,"32,062","31,776","31,534","31,416","31,323","31,235","30,858"
2652,48261,Texas,Kenedy,416,437,440,426,414,412,404
594,16087,Idaho,Washington,"10,198","10,142","10,054","9,962","10,019","9,967","10,172"
2903,51177,Virginia,Spotsylvania,"122,397","124,835","126,194","127,779","129,318","130,603","132,010"

In [30]:
#importing the rest of the data
data_file = "C:\ML Hackathon\Consolidated dataset piece.xlsx"
data = pd.read_excel(data_file)
data.head()
data.shape

(3143, 280)

In [44]:
#make sure to take care of leading, trailign 
#and excessive spaces in the column used as the "on" parameter
#to avoid merging Key Errors.
#Also make sure the alignment of the column (left/right/center), is the same in both dataframe
#to avoid the same Key Error.
dataset = pd.merge(data,population, on='FIPS')
dataset = dataset.reindex(np.random.permutation(dataset.index))
dataset

,FIPS,State_x,County_x,"Population, low access to store, 2010","Population, low access to store, 2015","Population, low access to store (% change), 2010 -15","Population, low access to store (%), 2010","Population, low access to store (%), 2015","Low income & low access to store, 2010","Low income & low access to store, 2015",...,"Population-loss counties, 2010",State_y,County_y,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
2674,48309,TX,McLennan,66738.9,91765.2,37.5,28.4,39.1,29367.1,47389.0,...,0.0,Texas,McLennan,"234,906","237,784","239,385","241,432","243,014","245,203","247,934"
3126,56021,WY,Laramie,22102.1,31924.5,44.4,24.1,34.8,5429.3,9622.5,...,0.0,Wyoming,Laramie,"91,738","92,637","94,785","95,929","96,264","97,183","98,136"
2936,51720,VA,Norton,488.3,252.2,-48.4,12.3,6.4,264.6,86.7,...,0.0,Virginia,Norton city,"3,958","4,013","4,048","4,013","4,038","3,926","3,864"
1672,31039,NE,Cuming,3005.5,411.5,-86.3,32.9,4.5,872.6,110.9,...,0.0,Nebraska,Cuming,"9,139","9,143","9,098","9,008","9,021","9,130","9,016"
2910,51197,VA,Wythe,1167.5,1165.9,-0.1,4.0,4.0,487.8,507.3,...,0.0,Virginia,Wythe,"29,235","29,191","29,300","29,289","29,059","29,191","29,016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2316,45003,SC,Aiken,35221.2,35442.7,0.6,22.0,22.1,9650.8,11651.9,...,0.0,South Carolina,Aiken,"160,099","161,822","163,284","164,120","164,758","166,111","167,458"
1902,37027,NC,Caldwell,29329.6,29875.3,1.9,35.3,36.0,13048.3,14220.7,...,0.0,North Carolina,Caldwell,"83,029","82,311","81,979","81,912","81,494","81,282","81,449"
1191,23031,ME,York,33631.2,29869.3,-11.2,17.1,15.2,7053.8,6463.7,...,1.0,Maine,York,"197,131","198,223","199,053","199,442","200,686","201,158","202,343"
1745,31185,NE,York,3569.6,2755.4,-22.8,26.1,20.2,907.7,625.0,...,1.0,Nebraska,York,"13,665","13,760","13,828","13,853","13,915","13,822","13,794"
175,5131,AR,Sebastian,17987.1,12919.2,-28.2,14.3,10.3,6657.2,4677.6,...,0.0,Arkansas,Sebastian,"125,744","126,909","127,418","127,127","126,827","127,590","127,793"

In [34]:
#taking care of empty values in the dataset
#converting to excel to check empty cells using filter
writer = pd.ExcelWriter('C:\ML Hackathon\pandas_output1.xlsx', engine='xlsxwriter')
dataset.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [35]:
#dropping all columns containing "%"
dataset2 = dataset[dataset.columns.drop(list(dataset.filter(regex='%')))]

In [36]:
#saving new dataset which doesnt have column names containing "%"
writer = pd.ExcelWriter('C:\ML Hackathon\pandas_output2.xlsx', engine='xlsxwriter')
dataset2.to_excel(writer, sheet_name='Sheet1')
writer.save()
#THERE ARE SO MANY BLANK CELLS!

In [96]:
from sklearn import tree
#edited specific a cell containing a numer classified as string in excel to numeric
data_file = "C:\ML Hackathon\pandas_output2.xlsx"
dataset = pd.read_excel(data_file)
Y = dataset[["Grocery stores, 2014"]]
#dataset[["Grocery stores, 2014"]]
#X = dataset.drop(['Grocery stores, 2014'])
X = dataset.drop(columns = ["Grocery stores, 2014"])

In [87]:
X1 = X.iloc[:,3:]
X1

,"Population, low access to store, 2010","Population, low access to store, 2015","Low income & low access to store, 2010","Low income & low access to store, 2015","Households, no car & low access to store, 2010","Households, no car & low access to store, 2015","SNAP households, low access to store, 2015","Children, low access to store, 2010","Children, low access to store, 2015","Seniors, low access to store, 2010",...,"Population-loss counties, 2010",State_y,County_y,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
2105,3713.6,1410.5,1898.7,847.2,790.5,603.9,168.6,1094.1,420.4,456.2,...,1.0,Ohio,Perry,36058,36207,35991,35977,35886,35952,35927
335,33564.7,33041.2,9805.7,12181.4,861.3,913.0,1255.1,6984.0,6912.4,8236.2,...,0.0,Florida,Flagler,95696,97412,98605,100013,102471,105188,108310
561,605.2,618.5,267.3,307.7,6.7,9.1,28.7,199.2,202.4,74.5,...,0.0,Idaho,Butte,2891,2805,2722,2626,2609,2501,2501
358,74391.9,70204.9,18524.6,20565.0,1306.1,1547.7,2335.4,12245.0,11756.4,21417.0,...,0.0,Florida,Manatee,322833,327373,334096,342246,351713,363110,375888
1145,6896.4,6826.5,3895.5,4231.9,687.0,726.3,628.1,1724.0,1650.6,1035.6,...,0.0,Louisiana,Morehouse,27979,27502,27454,27012,26732,26428,26071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,150118.3,171051.0,46275.0,65618.8,4667.7,5391.8,10032.3,28107.3,32026.7,31981.6,...,0.0,Florida,Volusia,494593,494523,497279,501282,507913,518190,529364
967,35861.6,30210.8,15461.5,14112.9,752.7,573.1,507.0,7442.0,6414.0,2375.0,...,0.0,Kansas,Riley,71115,73338,76273,75502,74698,75312,73343
2094,4990.5,3889.0,2405.2,1733.2,515.4,444.5,505.9,1148.9,893.9,828.9,...,0.0,Ohio,Meigs,23770,23699,23602,23467,23329,23203,23125
2098,158183.2,142425.9,48711.6,51209.3,5848.6,6154.2,9404.9,38068.7,34595.0,25256.9,...,1.0,Ohio,Montgomery,535153,534882,534692,534126,532183,531567,531239
2016,4944.0,4944.0,1291.1,1333.1,67.2,99.8,89.9,992.9,992.9,1053.1,...,0.0,North Dakota,McLean,8962,9086,9384,9474,9565,9729,9729

In [100]:
#converting data to float after rounding to 3 digits post decimal

Y = Y.round(3)
X = X.round(3)
X = dataset.drop(columns = ["State_x","County_x","State_y","County_y"])
X
#X1 = X.iloc[:,3:]
#X1 = X1.round(3)
#X2 = X.iloc[:,0:3]
#X1 = X1.astype(float)
#X = pd.merge(X2,X1)
#Y = Y.astype(float)

,FIPS,"Population, low access to store, 2010","Population, low access to store, 2015","Low income & low access to store, 2010","Low income & low access to store, 2015","Households, no car & low access to store, 2010","Households, no car & low access to store, 2015","SNAP households, low access to store, 2015","Children, low access to store, 2010","Children, low access to store, 2015",...,"Persistent-child-poverty counties, 2010","Metro/nonmetro counties, 2010","Population-loss counties, 2010",2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
2105,39127,3713.6,1410.5,1898.7,847.2,790.5,603.9,168.6,1094.1,420.4,...,0,0,1.0,36058,36207,35991,35977,35886,35952,35927
335,12035,33564.7,33041.2,9805.7,12181.4,861.3,913.0,1255.1,6984.0,6912.4,...,1,1,0.0,95696,97412,98605,100013,102471,105188,108310
561,16023,605.2,618.5,267.3,307.7,6.7,9.1,28.7,199.2,202.4,...,0,0,0.0,2891,2805,2722,2626,2609,2501,2501
358,12081,74391.9,70204.9,18524.6,20565.0,1306.1,1547.7,2335.4,12245.0,11756.4,...,1,0,0.0,322833,327373,334096,342246,351713,363110,375888
1145,22067,6896.4,6826.5,3895.5,4231.9,687.0,726.3,628.1,1724.0,1650.6,...,1,0,0.0,27979,27502,27454,27012,26732,26428,26071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,12127,150118.3,171051.0,46275.0,65618.8,4667.7,5391.8,10032.3,28107.3,32026.7,...,0,0,0.0,494593,494523,497279,501282,507913,518190,529364
967,20161,35861.6,30210.8,15461.5,14112.9,752.7,573.1,507.0,7442.0,6414.0,...,0,0,0.0,71115,73338,76273,75502,74698,75312,73343
2094,39105,4990.5,3889.0,2405.2,1733.2,515.4,444.5,505.9,1148.9,893.9,...,0,1,0.0,23770,23699,23602,23467,23329,23203,23125
2098,39113,158183.2,142425.9,48711.6,51209.3,5848.6,6154.2,9404.9,38068.7,34595.0,...,0,0,1.0,535153,534882,534692,534126,532183,531567,531239
2016,38055,4944.0,4944.0,1291.1,1333.1,67.2,99.8,89.9,992.9,992.9,...,0,0,0.0,8962,9086,9384,9474,9565,9729,9729

In [101]:
#creating training,testing and validation split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)
X_train, X_val, Y_train, Y_val = train_test_split(X_train, Y_train, test_size = 0.2, random_state = 1)

#defining models
tree_model1 = tree.DecisionTreeRegressor(max_depth = 2)
tree_model2 = tree.DecisionTreeRegressor(max_depth = 5)
tree_model3 = tree.DecisionTreeRegressor(max_depth = 10)

#fitting models
tree_model1 = tree_model1.fit(X_train, Y_train)
tree_model2 = tree_model2.fit(X_train, Y_train)
tree_model3 = tree_model3.fit(X_train, Y_train)

#testing models
Y1 = tree_model1.predict(X_test)
Y2 = tree_model2.predict(X_test)
Y3 = tree_model3.predict(X_test)

#validating models
V1 = tree_model1.predict(X_val)
V2 = tree_model2.predict(X_val)
V3 = tree_model3.predict(X_val)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

C:\Users\kmoudgalya\AnacondaProjects # under windows