In [1]:
import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
#from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

import pandas as pd
#Importing the popualtion data
population_file = "C:\ML Hackathon\population data.xlsx"
population = pd.read_excel(population_file)
population.head()

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
0,1001,Alabama,Autauga,"54,571","55,255","55,027","54,792","54,977","55,035","55,416"
1,1003,Alabama,Baldwin,"182,265","186,653","190,403","195,147","199,745","203,690","208,563"
2,1005,Alabama,Barbour,"27,457","27,326","27,132","26,938","26,763","26,270","25,965"
3,1007,Alabama,Bibb,"22,915","22,736","22,645","22,501","22,511","22,561","22,643"
4,1009,Alabama,Blount,"57,322","57,707","57,772","57,746","57,621","57,676","57,704"

In [39]:
#code snippet to find the current ipynb directory to upload to github.
!echo %cd% # under windows

C:\Users\kmoudgalya\AnacondaProjects # under windows

In [3]:
population = population.reindex(np.random.permutation(population.index))
population

,FIPS,State,County,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
1267,26073,Michigan,Isabella,"70,311","70,661","70,660","70,177","70,059","70,690","71,282"
282,8075,Colorado,Logan,"22,709","22,096","21,846","21,660","21,940","21,946","21,919"
359,12081,Florida,Manatee,"322,833","327,373","334,096","342,246","351,713","363,110","375,888"
2049,39013,Ohio,Belmont,"70,400","70,055","69,612","69,494","69,324","69,039","68,673"
2107,39129,Ohio,Pickaway,"55,698","55,961","56,326","56,416","56,742","56,971","57,565"
...,...,...,...,...,...,...,...,...,...,...
2698,48353,Texas,Nolan,"15,216","15,123","14,881","15,057","15,102","15,050","14,993"
976,20177,Kansas,Shawnee,"177,934","178,908","178,980","178,661","178,509","178,541","178,146"
393,13013,Georgia,Barrow,"69,367","69,860","70,161","71,325","72,982","75,107","77,126"
153,5085,Arkansas,Lonoke,"68,356","69,447","70,101","70,807","71,563","71,697","72,228"
1737,31167,Nebraska,Stanton,"6,129","6,194","6,105","6,090","6,063","5,908","5,944"

In [4]:
#importing the rest of the data
data_file = "C:\ML Hackathon\Consolidated dataset piece.xlsx"
data = pd.read_excel(data_file)
data.head()
data.shape

(3143, 280)

In [5]:
#make sure to take care of leading, trailign 
#and excessive spaces in the column used as the "on" parameter
#to avoid merging Key Errors.
#Also make sure the alignment of the column (left/right/center), is the same in both dataframe
#to avoid the same Key Error.
dataset = pd.merge(data,population, on='FIPS')
dataset = dataset.reindex(np.random.permutation(dataset.index))
dataset

,FIPS,State_x,County_x,"Population, low access to store, 2010","Population, low access to store, 2015","Population, low access to store (% change), 2010 -15","Population, low access to store (%), 2010","Population, low access to store (%), 2015","Low income & low access to store, 2010","Low income & low access to store, 2015",...,"Population-loss counties, 2010",State_y,County_y,2010 Census Population,"Population Estimate, 2011","Population Estimate, 2012","Population Estimate, 2013","Population Estimate, 2014","Population Estimate, 2015","Population Estimate, 2016"
1841,36029,NY,Erie,238054.3,192723.9,-19.0,25.9,21.0,54114.6,51233.8,...,0.0,New York,Erie,"919,040","920,088","920,792","922,150","923,702","922,957","921,046"
2568,48097,TX,Cooke,3344.5,2805.0,-16.1,8.7,7.3,1053.1,908.4,...,0.0,Texas,Cooke,"38,437","38,408","38,771","38,502","38,739","39,110","39,266"
2245,42005,PA,Armstrong,3673.5,5493.6,49.5,5.3,8.0,1023.1,1761.8,...,1.0,Pennsylvania,Armstrong,"68,941","68,645","68,367","68,095","67,660","66,953","66,486"
2320,45011,SC,Barnwell,513.5,513.8,0.1,2.3,2.3,188.7,210.1,...,1.0,South Carolina,Barnwell,"22,621","22,412","22,295","22,144","21,959","21,706","21,483"
1544,29125,MO,Maries,503.0,527.7,4.9,5.5,5.8,149.3,189.6,...,0.0,Missouri,Maries,"9,176","9,216","9,053","9,070","8,998","8,958","8,858"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,38105,ND,Williams,4783.0,4762.9,-0.4,21.4,21.3,933.7,870.7,...,1.0,North Dakota,Williams,"22,398","24,407","26,741","29,608","32,143","35,387","34,337"
1968,37159,NC,Rowan,32737.2,34164.1,4.4,23.6,24.7,12245.1,14536.0,...,0.0,North Carolina,Rowan,"138,428","137,996","137,832","138,126","138,558","139,021","139,933"
228,6087,CA,Santa Cruz,42380.4,36861.6,-13.0,16.2,14.0,10587.3,9975.1,...,0.0,California,Santa Cruz,"262,382","264,896","266,435","268,948","270,971","273,627","274,673"
1224,25017,MA,Middlesex,402117.4,373153.2,-7.2,26.8,24.8,43681.1,44992.8,...,0.0,Massachusetts,Middlesex,"1,503,085","1,523,717","1,540,330","1,556,956","1,569,953","1,581,037","1,589,774"
2852,51073,VA,Gloucester,3765.0,3765.0,0.0,10.2,10.2,807.8,1058.0,...,0.0,Virginia,Gloucester,"36,858","36,904","36,909","36,806","37,120","37,058","37,214"

In [34]:
#taking care of empty values in the dataset
#converting to excel to check empty cells using filter
writer = pd.ExcelWriter('C:\ML Hackathon\pandas_output1.xlsx', engine='xlsxwriter')
dataset.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [35]:
#dropping all columns containing "%"
dataset2 = dataset[dataset.columns.drop(list(dataset.filter(regex='%')))]

In [36]:
#saving new dataset which doesnt have column names containing "%"
writer = pd.ExcelWriter('C:\ML Hackathon\pandas_output2.xlsx', engine='xlsxwriter')
dataset2.to_excel(writer, sheet_name='Sheet1')
writer.save()
#THERE ARE SO MANY BLANK CELLS!

In [2]:
from sklearn import tree
#edited specific a cell containing a numer classified as string in excel to numeric
data_file = "C:\ML Hackathon\pandas_output2.xlsx"
dataset = pd.read_excel(data_file)
Y = dataset[["Grocery stores, 2014"]]
#dataset[["Grocery stores, 2014"]]
#X = dataset.drop(['Grocery stores, 2014'])
X = dataset.drop(columns = ["Grocery stores, 2014"])

In [3]:
#dealing with missing values
#print(X.isnull().sum())
X1 = X
X1 = X.fillna(X.median())
print(X1.isnull().sum())
writer1 = pd.ExcelWriter(r'C:\ML Hackathon\filled_nas_median.xlsx', engine='xlsxwriter')
X1.to_excel(writer1, sheet_name='Sheet1')
writer1.save()

FIPS                                     0
State_x                                  0
County_x                                 0
Population, low access to store, 2010    0
Population, low access to store, 2015    0
                                        ..
Population Estimate, 2012                0
Population Estimate, 2013                0
Population Estimate, 2014                0
Population Estimate, 2015                0
Population Estimate, 2016                0
Length: 163, dtype: int64

In [4]:
X2 = X
print(X2.isnull().sum())
X2[['Population, low access to store, 2010','Population, low access to store, 2015']]
X2[['Population, low access to store, 2015']] = X2.apply(
    lambda row: row['Population, low access to store, 2010'] if np.isnan(row['Population, low access to store, 2015']) else row['Population, low access to store, 2015'],
    axis = 1
)
#filled 'Population, low access to store, 2015' with 'Population, low access to store, 2010' values
#wherever blank, assuming no change.

X2[['Low income & low access to store, 2015']] = X2.apply(
    lambda row: row['Low income & low access to store, 2010'] if np.isnan(row['Low income & low access to store, 2015']) else row['Low income & low access to store, 2010'],
    axis = 1
)
#filled 'Low income & low access to store, 2015' with 'Low income & low access to store, 2010' values
#wherever blank, assuming no change.

X2[['Households, no car & low access to store, 2015']] = X2.apply(
    lambda row: row['Households, no car & low access to store, 2010'] if np.isnan(row['Households, no car & low access to store, 2015']) else row['Households, no car & low access to store, 2010'],
    axis = 1
)
#filled 'Households, no car & low access to store, 2015' with 'Households, no car & low access to store, 2010' values
#wherever blank, assuming no change.

X2[['Children, low access to store, 2015']] = X2.apply(
    lambda row: row['Children, low access to store, 2010'] if np.isnan(row['Children, low access to store, 2015']) else row['Children, low access to store, 2010'],
    axis = 1
)
#filled 'Children, low access to store, 2015' with 'Children, low access to store, 2010' values
#wherever blank, assuming no change.
    
X2[['SNAP-authorized stores, 2016']] = X2.apply(
    lambda row: row['SNAP-authorized stores, 2012'] if np.isnan(row['SNAP-authorized stores, 2016']) else row['SNAP-authorized stores, 2012'],
    axis = 1
)
#filled 'SNAP-authorized stores, 2016' with 'SNAP-authorized stores, 2012' values
#wherever blank, assuming no change.

X2[['SNAP-authorized stores/1,000 pop, 2016']] = X2.apply(
    lambda row: row['SNAP-authorized stores/1,000 pop, 2016']/row['Population Estimate, 2016'] if np.isnan(row['SNAP-authorized stores/1,000 pop, 2016']) else row['SNAP-authorized stores/1,000 pop, 2016'],
    axis = 1
)
#filled 'SNAP-authorized stores/1,000 pop, 2016' divided by 'Population Estimate, 2016'
#wherever blank

FIPS                                      0
State_x                                   0
County_x                                  0
Population, low access to store, 2010     0
Population, low access to store, 2015    19
                                         ..
Population Estimate, 2012                 0
Population Estimate, 2013                 0
Population Estimate, 2014                 0
Population Estimate, 2015                 0
Population Estimate, 2016                 0
Length: 163, dtype: int64

In [5]:
#filling the missing values in the below columns in code with their medians.
#X2['SNAP households, low access to store, 2015'] = X2['SNAP households, low access to store, 2015'].fillna((X2['SNAP households, low access to store, 2015'].median())
#THERE HAS TO BE A BETTER WAY TO DO THIS!
#X2['SNAP households, low access to store, 2015'].fillna((X2['SNAP households, low access to store, 2015'].median()), inplace=True)                                                                                                           
#X2['Seniors, low access to store, 2015'].fillna((X2['Seniors, low access to store, 2015'].median()), inplace=True)
#X2['White, low access to store, 2015'].fillna((X2['White, low access to store, 2015'].median()), inplace=True)                                                                                                           
#X2['Black, low access to store, 2015'].fillna((X2['Black, low access to store, 2015'].median()), inplace=True)                                                                                                           
#X2['Hispanic ethnicity, low access to store, 2015'].fillna((X2['Hispanic ethnicity, low access to store, 2015'].median()), inplace=True)
#X2['Asian, low access to store, 2015'].fillna((X2['Asian, low access to store, 2015'].median()), inplace=True)
#X2['American Indian or Alaska Native, low access to store, 2015'].fillna((X2['American Indian or Alaska Native, low access to store, 2015'].median()), inplace=True)
#X2['Hawaiian or Pacific Islander, low access to store, 2015'].fillna((X2['Hawaiian or Pacific Islander, low access to store, 2015'].median()), inplace=True)
#X2['Multiracial, low access to store, 2015'].fillna((X2['Multiracial, low access to store, 2015'].median()), inplace=True)
#X2['SNAP redemptions/SNAP-authorized stores, 2012'].fillna((X2['SNAP redemptions/SNAP-authorized stores, 2012'].median()), inplace=True)
#X2['SNAP redemptions/SNAP-authorized stores, 2016'].fillna((X2['SNAP redemptions/SNAP-authorized stores, 2016'].median()), inplace=True)
#X2['SNAP benefits per capita, 2010'].fillna((X2['SNAP benefits per capita, 2010'].median()), inplace=True)
#X2['SNAP benefits per capita, 2015'].fillna((X2['SNAP benefits per capita, 2015'].median()), inplace=True)
#X2['Median household income, 2015'].fillna((X2['Median household income, 2015'].median()), inplace=True)
#X2['Poverty rate, 2015'].fillna((X2['Poverty rate, 2015'].median()), inplace=True)
#X2['Child poverty rate, 2015'].fillna((X2['Child poverty rate, 2015'].median()), inplace=True)
#X2['WIC redemptions per capita, 2008'].fillna((X2['WIC redemptions per capita, 2008'].median()), inplace=True)
#X2['WIC redemptions per capita, 2012'].fillna((X2['WIC redemptions per capita, 2012'].median()), inplace=True)
#X2['WIC redemptions/WIC-authorized stores, 2008'].fillna((X2['WIC redemptions/WIC-authorized stores, 2008'].median()), inplace=True)
#X2['WIC redemptions/WIC-authorized stores, 2012'].fillna((X2['WIC redemptions/WIC-authorized stores, 2012'].median()), inplace=True)
#X2['Price of low-fat milk/national average, 2010**'].fillna((X2['WIC redemptions/WIC-authorized stores, 2012'].median()), inplace=True)
#X2['Price of sodas/national average, 2010**'].fillna((X2['WIC redemptions/WIC-authorized stores, 2012'].median()), inplace=True)
#X2['Price of low-fat milk/price of sodas, 2010**'].fillna((X2['WIC redemptions/WIC-authorized stores, 2012'].median()), inplace=True)

#filling in mode
X2['Population-loss counties, 2010'].fillna((X2['Population-loss counties, 2010'].mode()), inplace=True)
X2['Farm to school program, 2009'].fillna((X2['Farm to school program, 2009'].mode()), inplace=True)
X2['Farm to school program, 2013'].fillna((X2['Farm to school program, 2013'].mode()), inplace=True)

#fillinf rest in as medians
X2 = X2.fillna(X2.median())

In [6]:
writer3 = pd.ExcelWriter(r'C:\ML Hackathon\final_data.xlsx', engine='xlsxwriter')
X2.to_excel(writer3, sheet_name='Sheet1')
writer3.save()

In [14]:
target_new = pd.read_excel("C:\ML Hackathon\Data_Download_with_defined_target.xls", sheet_name = "STORES")
target_var = target_new[["TARGET"]]
target_var
Y_final = target_var
X_final = X2
#writer4 = pd.ExcelWriter(r'C:\ML Hackathon\final_data2.xlsx', engine='xlsxwriter')
#X_final.to_excel(writer4, sheet_name='Sheet1')
#writer4.save()
X_final = X_final.drop(columns = ["State_x","County_x"])

In [6]:
#converting data to float after rounding to 3 digits post decimal
#IGNORE THIS CELL.
Y = Y.round(3)
X = X.round(3)
X = dataset.drop(columns = ["State_x","County_x","State_y","County_y"])
X.isnull().any()
#X1 = X.iloc[:,3:]
#X1 = X1.round(3)
#X2 = X.iloc[:,0:3]
#X1 = X1.astype(float)
#X = pd.merge(X2,X1)
#Y = Y.astype(float)

FIPS                                      False
Population, low access to store, 2010     False
Population, low access to store, 2015      True
Low income & low access to store, 2010    False
Low income & low access to store, 2015     True
                                          ...
Population Estimate, 2012                 False
Population Estimate, 2013                 False
Population Estimate, 2014                 False
Population Estimate, 2015                 False
Population Estimate, 2016                 False
Length: 162, dtype: bool

In [29]:
#creating training,testing and validation split
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, Y_train, Y_test = train_test_split(X_final, Y_final, test_size = 0.2, random_state = 1)
X_train, X_val, Y_train, Y_val = train_test_split(X_train, Y_train, test_size = 0.2, random_state = 1)

#defining models
#missing values in the dataset will lead to the following errror:
#Input contains NaN, infinity or a value too large for dtype('float32')
tree_model1 = tree.DecisionTreeClassifier(max_depth = 2)
tree_model2 = tree.DecisionTreeClassifier(max_depth = 5)
tree_model3 = tree.DecisionTreeClassifier(max_depth = 10)

#fitting models
tree_model1 = tree_model1.fit(X_train, Y_train)
tree_model2 = tree_model2.fit(X_train, Y_train)
tree_model3 = tree_model3.fit(X_train, Y_train)

#testing models
Y1 = tree_model1.predict(X_test)
Y2 = tree_model2.predict(X_test)
Y3 = tree_model3.predict(X_test)

#validating models
V1 = tree_model1.predict(X_val)
V2 = tree_model2.predict(X_val)
V3 = tree_model3.predict(X_val)

In [38]:
#computing ROC:
print("Model 1 score on training : ")
print(accuracy_score(Y_final,tree_model1.predict(X_final))*100)

print("Model 2 score on training model1: ")
print(accuracy_score(Y_final,tree_model2.predict(X_final))*100)

print("Model 3 score on training model1: ")
print(accuracy_score(Y_final,tree_model3.predict(X_final))*100)

#tree_model1.score(Y_final,V1)

#"Model 2 score on testing and validation: "
#score(X_train,Y2)
#score(X_train,V2)
#"Model 3 score on testing and validation: "
#score(X_train,Y3)
#score(X_train,V3)

Model 1 score on training model1:
59.5609290486796
Model 2 score on training model1:
60.706331530384986
Model 3 score on training model1:
63.98345529748648

In [42]:
for name, importance in zip(X_train.columns, tree_model1.feature_importances_):
    print(name, importance)

FIPS 0.0
Population, low access to store, 2010 0.0
Population, low access to store, 2015 0.0
Low income & low access to store, 2010 0.0
Low income & low access to store, 2015 0.0
Households, no car & low access to store, 2010 0.0
Households, no car & low access to store, 2015 0.0
SNAP households, low access to store, 2015 0.0
Children, low access to store, 2010 0.0
Children, low access to store, 2015 0.0
Seniors, low access to store, 2010 0.0
Seniors, low access to store, 2015 0.0
White, low access to store, 2015 0.0
Black, low access to store, 2015 0.0
Hispanic ethnicity, low access to store, 2015 0.0
Asian, low access to store, 2015 0.3711149677732946
American Indian or Alaska Native, low access to store, 2015 0.0
Hawaiian or Pacific Islander, low access to store, 2015 0.0
Multiracial, low access to store, 2015 0.0
Grocery stores, 2009 0.0
Grocery stores/1,000 pop, 2009 0.0
Grocery stores/1,000 pop, 2014 0.26346129477649843
Supercenters & club stores, 2009 0.0
Supercenters & club stores, 2014 0.0
Supercenters & club stores/1,000 pop, 2009 0.0
Supercenters & club stores/1,000 pop, 2014 0.0
Convenience stores, 2009 0.0
Convenience stores, 2014 0.0
Convenience stores/1,000 pop, 2009 0.0
Convenience stores/1,000 pop, 2014 0.0
Specialized food stores, 2009 0.0
Specialized food stores, 2014 0.0
Specialized food stores/1,000 pop, 2009 0.0
Specialized food stores/1,000 pop, 2014 0.0
SNAP-authorized stores, 2012 0.0
SNAP-authorized stores, 2016 0.0
SNAP-authorized stores/1,000 pop, 2012 0.0
SNAP-authorized stores/1,000 pop, 2016 0.0
WIC-authorized stores, 2008 0.0
WIC-authorized stores, 2012 0.0
WIC-authorized stores/1,000 pop, 2008 0.0
WIC-authorized stores/1,000 pop, 2012 0.0
Fast-food restaurants, 2009 0.0
Fast-food restaurants, 2014 0.0
Fast-food restaurants/1,000 pop, 2009 0.0
Fast-food restaurants/1,000 pop, 2014 0.0
Full-service restaurants, 2009 0.0
Full-service restaurants, 2014 0.0
Full-service restaurants/1,000 pop, 2009 0.0
Full-service restaurants/1,000 pop, 2014 0.0
Expenditures per capita, fast food, 2007* 0.0
Expenditures per capita, fast food, 2012* 0.0
Expenditures per capita, restaurants, 2007* 0.0
Expenditures per capita, restaurants, 2012* 0.0
SNAP redemptions/SNAP-authorized stores, 2012 0.0
SNAP redemptions/SNAP-authorized stores, 2016 0.0
SNAP benefits per capita, 2010 0.0
SNAP benefits per capita, 2015 0.0
SNAP online application, 2009* 0.0
SNAP online application, 2016* 0.0
SNAP Combined Application Project , 2009* 0.0
SNAP Combined Application Project , 2016* 0.0
SNAP Broad-based Categorical Eligibility, 2009* 0.0
SNAP Broad-based Categorical Eligibility, 2016* 0.0
SNAP simplified reporting, 2009* 0.0
SNAP simplified reporting, 2016* 0.0
WIC redemptions per capita, 2008 0.0
WIC redemptions per capita, 2012 0.3654237374502069
WIC redemptions/WIC-authorized stores, 2008 0.0
WIC redemptions/WIC-authorized stores, 2012 0.0
FDPIR Sites, 2012 0.0
Price of low-fat milk/national average, 2010** 0.0
Price of sodas/national average, 2010** 0.0
Price of low-fat milk/price of sodas, 2010** 0.0
Soda sales tax, retail stores, 2014* 0.0
Soda sales tax, vending, 2014* 0.0
Chip & pretzel sales tax, retail stores, 2014* 0.0
Chip & pretzel sales tax, vending, 2014* 0.0
General food sales tax, retail stores, 2014* 0.0
Farms with direct sales, 2007 0.0
Farms with direct sales, 2012 0.0
Direct farm sales, 2007 0.0
Direct farm sales, 2012 0.0
Direct farm sales per capita, 2007 0.0
Direct farm sales per capita, 2012 0.0
Farmers' markets, 2009 0.0
Farmers' markets, 2016 0.0
Farmers' markets/1,000 pop, 2009 0.0
Farmers' markets/1,000 pop, 2016 0.0
Farmers' markets that report accepting SNAP, 2016 0.0
Farmers' markets that report accepting WIC, 2016 0.0
Farmers' markets that report accepting WIC Cash, 2016 0.0
Farmers' markets that report accepting SFMNP, 2016 0.0
Farmers' markets that report accepting credit cards, 2016 0.0
Farmers' markets that report selling fruit & vegetables, 2016 0.0
Farmers' markets that report selling animal products, 2016 0.0
Farmers' markets that report selling baked/prepared food products, 2016 0.0
Farmers' markets that report selling other food products, 2016 0.0
Vegetable farms, 2007 0.0
Vegetable farms, 2012 0.0
Vegetable acres harvested, 2007 0.0
Vegetable acres harvested, 2012 0.0
Vegetable acres harvested/1,000 pop, 2007 0.0
Vegetable acres harvested/1,000 pop, 2012 0.0
Farms with vegetables harvested for fresh market, 2007 0.0
Farms with vegetables harvested for fresh market, 2012 0.0
Vegetable acres harvested for fresh market, 2007 0.0
Vegetable acres harvested for fresh market, 2012 0.0
Vegetable acres harvested for fresh market/1,000 pop, 2007 0.0
Vegetable acres harvested for fresh market/1,000 pop, 2012 0.0
Orchard farms, 2007 0.0
Orchard farms, 2012 0.0
Orchard acres, 2007 0.0
Orchard acres, 2012 0.0
Orchard acres/1,000 pop, 2007 0.0
Orchard acres/1,000 pop, 2012 0.0
Berry farms, 2007 0.0
Berry farms, 2012 0.0
Berry acres, 2007 0.0
Berry acres, 2012 0.0
Berry acres/1,000 pop, 2007 0.0
Berry acres/1,000 pop, 2012 0.0
Small slaughterhouse facilities, 2007 0.0
Small slaughterhouse facilities, 2012 0.0
Greenhouse vegetable and fresh herb farms, 2007 0.0
Greenhouse vegetable and fresh herb farms, 2012 0.0
Greenhouse veg and fresh herb sq feet, 2007 0.0
Greenhouse veg and fresh herb sq feet, 2012 0.0
Greenhouse veg and fresh herb sq feet/1,000 pop, 2007 0.0
Greenhouse veg and fresh herb sq feet/1,000 pop, 2012 0.0
Food hubs, 2016 0.0
CSA farms, 2007 0.0
CSA farms, 2012 0.0
Agritourism operations, 2007 0.0
Agritourism operations, 2012 0.0
Agritourism receipts, 2007 0.0
Agritourism receipts, 2012 0.0
Farm to school program, 2009 0.0
Farm to school program, 2013 0.0
Adult diabetes rate, 2008 0.0
Adult diabetes rate, 2013 0.0
Adult obesity rate, 2008 0.0
Adult obesity rate, 2013 0.0
Recreation & fitness facilities, 2009 0.0
Recreation & fitness facilities, 2014 0.0
Recreation & fitness facilities/1,000 pop, 2009 0.0
Recreation & fitness facilities/1,000 pop, 2014 0.0
Median household income, 2015 0.0
Poverty rate, 2015 0.0
Persistent-poverty counties, 2010 0.0
Child poverty rate, 2015 0.0
Persistent-child-poverty counties, 2010 0.0
Metro/nonmetro counties, 2010 0.0
Population-loss counties, 2010 0.0
2010 Census Population 0.0
Population Estimate, 2011 0.0
Population Estimate, 2012 0.0
Population Estimate, 2013 0.0
Population Estimate, 2014 0.0
Population Estimate, 2015 0.0
Population Estimate, 2016 0.0